/************************************************************************
// Proyecto FIC
// Version v0.9.flexbox
************************************************************************/

/************************************************************************/

.listaTratamientos {
  border: solid 2px green;
  padding: 0.2rem;
}

.itemTratamiento:hover {
  background-color: hsl(120, 29%, 81%);
}
